{% extends 'index.html' %}

{% block title %}New company{% endblock %}

{% block content %}
<br>
<div class="company-create-wrapper">
<form action="{{url_for('company_create')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      <div>
        {{ form.company(class='sth', placeholder="Company", id="companyInput") }}
        {{ form.address(class='sth',placeholder="Address", id="addressInput") }}
        {{ form.telephone(class='sth',placeholder="Telephone", id="telephoneInput") }}
        {{ form.zipcode(class='sth',placeholder="zip code", id="zipInput") }}
      </div>
      <br>
      <div class="container">
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<div class="company-delete-wraper">
  <form action="{{url_for('company_delete')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      <div>
        {{ form.id(class='sth', placeholder="ID", id="idDelete") }}
      </div>
      <br>
      <div class="container">
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>
{% endblock %}
