{% extends 'index.html' %}

{% block title %} Table{% endblock %}

{% block content %}

<div class="message">
    <h1>{{message}}</h1>
</div>

<div class="container-fluid">
<div class="form-wrapper">
    <form action="{{url_for('sth')}}" method="post">

        {{ form.hidden_tag() }}
        {{ form.data1(placeholder="MWAB NO", id="idEdit") }}
        {{ form.data2(placeholder="FLT NO", id="idEdit") }}
        {{ form.bag_number(placeholder="BAG NUMBER", id="idEdit") }}
        {{ form.message(placeholder="message", id="idEdit") }}
        <br>
        <br>
        {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </form>
</div>
</div>

<div class="container-fluid">
    <a href="{{url_for('create_vbs')}}" class="btn btn-primary">Create VBS file</a>

    {% for msg in get_flashed_messages()%}
        <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        </button>
        </div>
    {% endfor %}
</div>

<script>
    $("#warning-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#warning-alert").slideUp(500);
    });
</script>

{% endblock %}
