{% extends 'index.html' %}

{% block title %}Fixed attribute{% endblock %}

{% block content %}
<br>
<form action="{{url_for('fixed_create')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      <div>
        {{ form.company(class='sth', placeholder="company", id="companyInput") }}
        {{ form.city(class='sth',placeholder="city", id="cityInput") }}
        {{ form.zipcode(class='sth',placeholder="zip code", id="zipInput") }}
      </div>
      <br>
      <div class="container">
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
{% endblock %}
