{% extends 'index.html' %} {% block title %}Homepage{% endblock %} {% block
  content %}

  <h1 id="header-hompage">this is the homepage</h1>
  <div class="container">
  <form action="{{url_for('index')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      {{ form.bill_number(class='sth', placeholder="bill_number", id="bill_numberInput") }}
      {{ form.shipper_name(class='sth',placeholder="shipper_name", id="shipper_nameInput") }}
      {{ form.consignee_name(class='sth',placeholder="consignee_name", id="consignee_nameInput") }}
      <br>
      <br>
      <div>
        {{ form.client_name(class='sth', placeholder="client_name", id="client_nameInput") }}
        {{ form.consignee_address(class='sth',placeholder="consignee_address ", id="consignee_addressInput") }}
        {{ form.consignee_telephone(class='sth',placeholder="consignee_telephone ", id="consignee_telephoneInput") }}
      </div>
      <br>
      <br>
      <div>
        {{ form.cargo_pcs(class='sth', placeholder="cargo_pcs ", id="cargo_pcsInput") }}
        {{ form.cargo_weight(class='sth',placeholder="cargo_weight ", id="cargo_weightInput") }}
        {{ form.pp_cc(class='sth',placeholder="pp_cc ", id="pp_ccInput") }}
      </div>
      <br>
      <br>
      <div>
        {{ form.hs_code(class='sth', placeholder="hs_code ", id="hs_codeInput") }}
        {{ form.cargo_item(class='sth',placeholder="cargo_item ", id="cargo_itemInput") }}
        {{ form.invoice_value(class='sth',placeholder="invoice_value ", id="invoice_valueInput") }}
        {{ form.zipcode(class='sth',placeholder="zipcode ", id="zipcodeInput") }}
      </div>
      <br>
      <br>
      <div>
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<script src="../static/dynamic_query.js"></script>
  {% endblock %}
