{% extends 'index.html' %} {% block title %}Homepage{% endblock %} {% block
content %}
<h1 id="header-hompage">this is the homepage</h1>
<div class="container">
  <div class="obligate-field">
    <form action="#" id="first-field">
      <div class="input-group mb-3" id="name-field">
        <input
          type="text"
          name="nameInput"
          id="nameInput"
          class="form-control"
          placeholder="Name"
          aria-label="Name"
          aria-describedby="basic-addon1"
        />
        <input
          type="text"
          name="ageInput"
          id="ageInput"
          class="form-control"
          placeholder="Age"
          aria-label="Age"
          aria-describedby="basic-addon1"
        />
        <input
          type="text"
          name="roleInput"
          id="roleInput"
          class="form-control"
          placeholder="Role"
          aria-label="Role"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3" id="name-field">
        <input
          type="text"
          name="companyInput"
          id="companyInput"
          class="form-control"
          placeholder="Company"
          aria-label="Company"
          aria-describedby="basic-addon1"
        />
        <input
          type="text"
          name="cityInput"
          id="cityInput"
          class="form-control"
          placeholder="City"
          aria-label="City"
          aria-describedby="basic-addon1"
        />
        <input
          type="text"
          name="zipInput"
          id="zipInput"
          class="form-control"
          placeholder="Zip"
          aria-label="Zip"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="the-button">
        <input
          type="button"
          id="btnSubmit"
          class="btn btn-outline-success"
          value="Submit"
        />
      </div>
    </form>
  </div>
</div>

<script>

  document.getElementById("cityInput").addEventListener("input", sendText);

  function sendText() {
    var c = document.getElementById("cityInput").value;
    fetch("/api", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      method: "POST",
      body: JSON.stringify({ cityInput: c }),
    })
  }
</script>
{% endblock %}
