{% extends 'index.html' %} {% block title %}Homepage{% endblock %} {% block
  content %}

  <h1 id="header-hompage">this is the homepage</h1>
  <div class="container">
  <form action="{{url_for('index')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      {{ form.bill_number(class='sth', placeholder="bill_number", id="nameInput") }}
      {{ form.shipper_name (class='sth',placeholder="shipper_name", id="ageInput") }}
      {{ form.consignee_name (class='sth',placeholder="consignee_name", id="roleInput") }}
      <br>
      <br>
      <div>
        {{ form.client_name (class='sth', placeholder="client_name", id="companyInput") }}
        {{ form.consignee_address (class='sth',placeholder="client_address ", id="cityInput") }}
        {{ form.consignee_telephone (class='sth',placeholder="client_telephone ", id="zipInput") }}
      </div>
      <br>
      <br>
      <div>
        {{ form.cargo_pcs  (class='sth', placeholder="cargo_pcs ", id="companyInput") }}
        {{ form.cargo_weight  (class='sth',placeholder="cargo_weight ", id="cityInput") }}
        {{ form.pp_cc (class='sth',placeholder="pp_cc ", id="zipInput") }}
      </div>
      <br>
      <br>
      <div>
        {{ form.hs_code (class='sth', placeholder="hs_code ", id="companyInput") }}
        {{ form.cargo_item (class='sth',placeholder="cargo_item ", id="cityInput") }}
        {{ form.invoice_value (class='sth',placeholder="invoice_value ", id="zipInput") }}
        {{ form.zipcode(class='sth',placeholder="zipcode ", id="zipInput") }}
      </div>
      <br>
      <br>
      <div>
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<script src="../static/dynamic_query.js"></script>
  {% endblock %}
