{% extends 'index.html' %}

{% block title %}Hansol Data{% endblock %}

{% block content %}
<br>

<span class="btn-company"><button type="button" id="create" class="btn btn-secondary">Show</button></span>
<span class="btn-company"><button type="button" id="edit" class="btn btn-secondary">Edit</button></span>
<span class="btn-company"><button type="button" id="delete" class="btn btn-danger">Delete</button></span>
<span class="btn-company"><button type="button" id="cancel" class="btn btn-outline-dark">Cancel</button></span>

<br>
<br>
<div class="create-wrapper">
<form action="{{url_for('hansol_create')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      <div>
        {{ form.bill_number(class='sth', placeholder="bill_number", id="bil_numberInput") }}
        {{ form.shipper_name(class='sth',placeholder="shipper_name", id="shipper_nameInput") }}
        {{ form.consignee_name(class='sth',placeholder="consignee_name", id="consignee_nameInput") }}
        {{ form.cargo_pcs(class='sth',placeholder="cargo_pcs", id="cargo_pcsInput") }}
        {{ form.cargo_weight(class='sth',placeholder="cargo_weight", id="cargo_weightInput") }}
        {{ form.cargo_item(class='sth',placeholder="cargo_item", id="cargo_itemInput") }}
      </div>
      <br>
      <div class="container">
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<br>

<div class="edit-wrapper">
    <form action="{{url_for('hansol_edit')}}" method="POST" novalidate>
        {{ form1.hidden_tag() }}
          <div>
            {{ form1.id(class='sth', placeholder="id", id="idInput") }}
            {{ form1.bill_number(class='sth', placeholder="bill_number", id="bil_numberInput") }}
            {{ form1.shipper_name(class='sth',placeholder="shipper_name", id="shipper_nameInput") }}
            {{ form1.consignee_name(class='sth',placeholder="consignee_name", id="consignee_nameInput") }}
            {{ form1.cargo_pcs(class='sth',placeholder="cargo_pcs", id="cargo_pcsInput") }}
            {{ form1.cargo_weight(class='sth',placeholder="cargo_weight", id="cargo_weightInput") }}
            {{ form1.cargo_item(class='sth',placeholder="cargo_item", id="cargo_itemInput") }}
          </div>
          <br>
          <div class="container">
          {{ form1.submit(class="btn btn-outline-success", value="Submit") }}
        </div>
      </form>
</div>
    
<br>

<div class="delete-wrapper">
  <form action="{{url_for('hansol_delete')}}" method="POST" novalidate>
    {{ form2.hidden_tag() }}
      <div>
        {{ form2.id(class='sth', placeholder="ID", id="idDelete") }}
      </div>
      <br>
      <div class="container">
      {{ form2.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<br>

<div class="hansol-table-wrapper">
    <table>
        <th>ID</th>
        <th>Bill Number</th>
        <th>Shipper Name</th>
        <th>Cargo Item</th>
        <th>Cargo PCS</th>
        <th>Cargo Weight</th>
        <th>Consignee Name</th>
        {% for hansol in data_hansols %}
            <tr>
                <td>{{hansol.id}}</td>
                <td>{{hansol.bill_number}}</td>
                <td>{{hansol.shipper_name}}</td>
                <td>{{hansol.cargo_item}}</td>
                <td>{{hansol.cargo_pcs}}</td>
                <td>{{hansol.cargo_weight}}</td>
                <td>{{hansol.consignee_name}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<script src="../static/edit_create_2.js"></script>
{% endblock %}

