<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div>
      <input type="text" id="input1" />
    </div>
    <div>
      <input type="text" id="input2" />
    </div>
    <div>
      <input type="button" value="click" id="btn" />
    </div>

<script src="../static/test.js"></script>
<script src="../static/press.js"></script>

</body>
</html>
