{% extends 'index.html' %}

{% block title %}Company Data{% endblock %}

{% block content %}
<br>

<span class="btn-company"><button type="button" id="create" class="btn btn-secondary">Create</button></span>
<span class="btn-company"><button type="button" id="delete" class="btn btn-danger">Delete</button></span>
<span class="btn-company"><button type="button" id="cancel" class="btn btn-outline-dark">Cancel</button></span>
<br>
<br>
<div class="create-wrapper">
<form action="{{url_for('product_create')}}" method="POST" novalidate>
    {{ form.hidden_tag() }}
      <div>
        {{ form.product(class='sth', placeholder="Product Name", id="productInput") }}
        {{ form.hs_code(class='sth',placeholder="HS Code", id="hscodeInput") }}
      </div>
      <br>
      <div class="container">
      {{ form.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<br>

<div class="delete-wrapper">
  <form action="{{url_for('product_delete')}}" method="POST" novalidate>
    {{ form2.hidden_tag() }}
      <div>
        {{ form2.id(class='sth', placeholder="ID", id="idDelete") }}
      </div>
      <br>
      <div class="container">
      {{ form2.submit(class="btn btn-outline-success", value="Submit") }}
    </div>
  </form>
</div>

<br>

<div class="product-table-wrapper">
    <table>
        <th>ID</th>
        <th>Product</th>
        <th>HS Code</th>
        {% for product in data_products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.code}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<script src="../static/edit_create_2.js"></script>
{% endblock %}

