{% extends 'index.html' %}

{% block title %} Table{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="edit-wrapper">
    <form action="{{url_for('table')}}" method="post">
        {{ form.hidden_tag() }}
        {{ form.id.label }}
        {{ form.id( placeholder="ID", id="idEdit") }}
        {{ form.bill_number.label }}
        {{ form.bill_number( placeholder="bill_number", id="bill_numberEdit") }}
        {{ form.shipper_name.label }}
        {{ form.shipper_name (placeholder="shipper_name", id="shipper_nameEdit") }}
        {{ form.consignee_name.label }}
        {{ form.consignee_name (placeholder="consignee_name", id="consignee_nameEdit") }}
        <br>
        <br>
        <div>
          {{ form.client_name.label }}
          {{ form.client_name ( placeholder="client_name", id="client_nameEdit") }}
          {{ form.consignee_address.label }}
          {{ form.consignee_address (placeholder="consignee_address ", id="consignee_addressEdit") }}
          {{ form.consignee_telephone.label }}
          {{ form.consignee_telephone (placeholder="consignee_telephone ", id="consignee_telephoneEdit") }}
        </div>
        <br>
        <br>
        <div>
          {{ form.cargo_pcs.label }}
          {{ form.cargo_pcs ( placeholder="cargo_pcs ", id="cargo_pcsEdit") }}
          {{ form.cargo_weight.label }}
          {{ form.cargo_weight (placeholder="cargo_weight ", id="cargo_weightEdit") }}
          {{ form.pp_cc.label }}
          {{ form.pp_cc (placeholder="pp_cc ", id="pp_ccEdit") }}
        </div>
        <br>
        <br>
        <div>
          
          {{ form.hs_code.label }}
          {{ form.hs_code ( placeholder="hs_code ", id="hs_codeEdit") }}
          {{ form.cargo_item.label }}
          {{ form.cargo_item (placeholder="cargo_item ", id="cargo_itemEdit") }}
          {{ form.invoice_value.label }}
          {{ form.invoice_value (placeholder="invoice_value ", id="invoice_valueEdit") }}
          {{ form.bag_number.label }}
          {{ form.bag_number(placeholder="bag_number ", id="bag_numberEdit") }}
          {{ form.zipcode.label }}
          {{ form.zipcode(placeholder="zipcode ", id="zipcodeEdit") }}
        </div>
        <br>
        <br>
        <div>
        {{ form.submit(class="btn btn-outline-success", value="Submit") }}
      </div>
    </form>
</div>
</div>

<div class="delete-wrapper">
    <form action="{{url_for('delete')}}" method="post">
        {{ form2.hidden_tag() }}
        {{ form2.id(class='sth', placeholder="ID", id="deleteID") }}
        {{ form2.submit(class="btn btn-outline-success", value="Submit") }}
    </form>
</div>


<div id="table">
    <table id="table-data" class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>bill_number</th>
            <th>shipper_name</th>
            <th>consignee_name </th>
            <th>client_name </th>
            <th>consignee_address </th>
            <th>consignee_telephone </th>
            <th>cargo_pcs </th>
            <th>cargo_weight </th>
            <th>pp_cc </th>
            <th>hs_code </th>
            <th>cargo_item </th>
            <th>invoice_value </th>
            <th>Bag Number </th>
            <th>zipcode </th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Cancel</th>
        </tr>
    </table>
</div>

<script src="../static/create_table.js"></script>
<script src="../static/editanddelete.js"></script>
{% endblock %}
